<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Nextflow Runner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/materialize_datatables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/material-fonts.css') }}">

    <!-- Compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename = 'js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/materialize.min.js') }}"></script>
            
    {% endblock %}
  </head>
  <body>
    <!-- nav bar -->
    <nav>
        <div class="nav-wrapper  purple darken-3 text-white">
          <div class="container"><!-- start container div -->
            <a href="{{ url_for('front_page') }}" class="brand-logo center">Nextflow Runner</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              {% if current_user.is_authenticated %}
                <li>{{ current_user.email }}</li>
                <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
              {% else %}
                <li><a href="{{ url_for('security.login') }}">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div> <!-- close container div -->
      </nav>
      <ul class="sidenav" id="mobile-nav">
        {% if current_user.is_authenticated %}
          <li>{{ current_user.email }}</li>
          <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('security.login') }}">Login</a></li>
        {% endif %}
        </ul>
    <!-- modal -->
    <div id="notifications" class="modal ">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-purple btn-flat">Close</a>
        </div>
    </div>
    
    <!-- main content -->
    <div class="container">
      <div class='row'>
        <div id="notifications" class="col s12 m12 center">
            <div id="alert" class="card red lighten-3"></div>
            <div id="notice" class="card purple darken-3"></div>
        </div>
      </div>  
      <div class='row'>
        <div class="col s12 m12">
          {% block content %}{% endblock %}
        </div>
      </div>
    <script>
        $(document).ready(function() {
          // activate side menu
          $('.sidenav').sidenav();

          // activate materialize selects
          $('select').formSelect();
        } );
    </script>
  </body>
</html>