<table id="workflow_table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Workflow</th>
            <th>Data Dir</th>
            <th>Status</th>
            <th>Details</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        {% for workflow in user_workflows %}
            <tr>
                <td>{{ workflow['workflow'] }}</td>
                <td>{{ workflow['data_path'] }}</td>
                <td>{{ workflow['status'] }}</td>
                <td>{{ workflow['status_details'] }}</td>
                <td>{{ prettyprint_isodate(workflow['created_at']) }}</td>
                <td>{{ prettyprint_isodate(workflow['updated_at']) }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Workflow</th>
            <th>Data Dir</th>
            <th>Status</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
    </tfoot>
</table>